[user]
	name = Florian Müller-Fouarge
[init]
	defaultBranch = main
[diff]
	tool = difftastic
[difftool]
	prompt = false
[difftool "difftastic"]
	cmd = difft "$LOCAL" "$REMOTE"
[merge]
	conflictstyle = diff3
[branch]
	# Show most recently changed branches first.
	sort = -committerdate
[alias]
	undo-commit = reset --soft HEAD^
	deleted-branches = !git branch -vv | cut -c 3- | grep ': gone]' | awk '{print $1}'
	local-only-branches = !"git branch --format '%(refname:short) %(upstream:short)' | awk '{if (!$2) print $1;}' "
	pull-recursive = !git_pull_recursive.sh # needs to be in git_pull_recursive.sh
	fetch-recursive = !git_fetch_recursive.sh # needs to be in git_fetch_recursive.sh
	fetch-prune-recursive = !git_fetch_prune_recursive.sh # needs to be in git_fetch_prune_recursive.sh
# URL shorthands
[url "git@github.com:"]
	insteadOf = "gh:"
	pushInsteadOf = "github:"
	pushInsteadOf = "git://github.com/"
