[init]
        defaultBranch = main
[diff]
        tool = meld
[difftool]
        prompt = false
[merge]
        conflictstyle = diff3
[branch]
	# Show most recently changed branches first.
	sort = -committerdate
[alias]
	undo-commit = reset --soft HEAD^
	deleted-branches = !git branch -vv | cut -c 3- | grep ': gone]' | awk '{print $1}'
	local-only-branches = "!git branch --format '%(refname:short) %(upstream:short)' | awk '{if (!$2) print $1;}'"
# URL shorthands
# URL shorthands
[url "git@github.com:"]

	insteadOf = "gh:"
	pushInsteadOf = "github:"
	pushInsteadOf = "git://github.com/"
