[init]
        defaultBranch = main
[diff]
        tool = meld
[difftool]
        prompt = false
[merge]
        conflictstyle = diff3
[branch]
	# Show most recently changed branches first.
	sort = -committerdate
[alias]
	undo-commit = reset --soft HEAD^


# URL shorthands
[url "git@github.com:"]

	insteadOf = "gh:"
	pushInsteadOf = "github:"
	pushInsteadOf = "git://github.com/"
